@import url("https://fonts.googleapis.com/css?family=source+sans+pro");

#principal{
    color: white;
    display: grid;
    grid-template-columns:20% repeat(2,1fr) 20%;
    grid-template-rows: repeat(5,18vh);
    row-gap: 2vh;
    column-gap: 2vh;
    height: 110%;
}


.img{
    grid-column: 2;
    grid-row: 2;
    padding: 5px 5px 5px;
    width: 100%;
    height: 100%;
}


.text>h1{
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    color: white;
    background-color: rgb(15, 15, 15);
    border-style: solid;
    border-color: rgb(15, 15, 15);
    border-width: 5px;
    padding: 5px 5px 5px;
}

.text>p{
    width: 100%;
    height: 100%;
    text-align: left;
    font-size: 1em;
    color: white;
    background-color: rgb(15, 15, 15);
    border-style: solid;
    border-color: rgb(15, 15, 15);
    border-width: 5px;
    padding: 5px 5px 5px;
}

.case>div>h1 {
    color: #dbbd40;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    font-family: 'source sans pro', sans-serif;
}
#C1{
    margin-top: 4vh;
    display: grid;
    grid-template-columns: 20% 1fr 20%;
    grid-template-rows: 1fr 1fr;
    grid-column: 2;
    grid-row: 1;
}

#C2{
    margin-top: 4vh;
    grid-column: 3;
    grid-row: 1;
}

.text>button{
    width: 100%;
    height: 100%;
    background-color: rgb(15, 15, 15);
    border-style: solid;
    border-color: rgb(15, 15, 15);
    border-width: 5px;
    padding: 5px 5px 5px;
    color: #ffffff;
}

#C3{
    margin-top: 6vh;
    display: grid;
    grid-template-columns: 20% 1fr 20%;
    grid-template-rows: 1fr 1fr;
    grid-column: 3;
    grid-row: 2;
}

#C4{
    margin-top: 4vh;
    grid-column: 2;
    grid-row: 2;
}

#C5{
    margin-top: 4vh;
    display: grid;
    grid-template-columns: 20% 1fr 20%;
    grid-template-rows: 1fr 1fr;
    grid-column: 2;
    grid-row: 3;

}

#C6{
    margin-top: 4vh;
    grid-column: 3;
    grid-row: 3;
}

#C7{
    margin-top: 4vh;
    display: grid;
    grid-template-columns: 20% 1fr 20%;
    grid-template-rows: 1fr 1fr;
    grid-column: 3;
    grid-row: 4;
}

#C8{
    margin-top: 4vh;
    grid-column: 2;
    grid-row: 4;
}