@import url("https://fonts.googleapis.com/css?family=source+sans+pro");

.head {
    background-color: #f2f2f218;
    text-align: center;
    padding: 5px;

    font-weight: lighter;
    color: #000000;
    margin-top: 0%;
}

.head>h1 {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    font-family: 'Source Sans Pro', sans-serif;
    color: #dbbd40;
}
.head>p {
    text-align: center;
    font-size: 20px;
    color: #ffffff;
}

.form {
    border: 5px;
    border-style: solid;
    border-color: #dbbd40;
    border-radius: 5px;
    padding: 10px;
    margin-left: 10%;
    margin-right: 10%;
    background-color: #f2f2f218;
    text-align: center;
    padding: 5px;
    font-weight: lighter;
    color: #ffffff;
    margin-top: 3%;
}

.table {
    border: 5px;
    border-style: solid;
    border-color: #dbbd40;
    border-radius: 5px;
    padding: 10px;
    margin-left: 10%;
    margin-right: 10%;
    background-color: #f2f2f218;
    text-align: center;
    padding: 5px;
    font-weight: lighter;
    color: #ffffff;
    margin-top: 3%;
}

.table>table {
    border: 5px;
    border-style: solid;
    border-color: #dbbd40;
    border-radius: 5px;
    padding: 10px;
    margin-left: 10%;
    margin-right: 10%;
    background-color: #f2f2f218;
    text-align: center;
    padding: 5px;
    font-weight: lighter;
    color: #ffffff;
    margin-top: 3%;
}

.help {
    border: 5px;
    border-style: solid;
    border-color: #dbbd40;
    border-radius: 5px;
    padding: 10px;
    margin-left: 10%;
    margin-right: 10%;
    background-color: #f2f2f218;
    text-align: center;
    padding: 5px;
    font-weight: lighter;
    color: #ffffff;
    margin-top: 3%;
}